<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>ListCustomer</title>
</head>
<body>
<h3>Customers</h3>
<p>
    <a th:href="@{/customers/create}">
        Add new customer
    </a>
</p>
<div style="margin-bottom: 10px; margin-left: 800px">
    <form th:action="@{/customers}" >
        <label><input type="text" name="search"></label>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>

<table id = "customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${customerPage.content}">
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getEmail()}"></td>
        <td th:text="${row.getAddress()}"></td>
        <td><a th:href="@{/customers/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/customers/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/customers/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<a class="btn btn-primary" th:if="${customerPage.hasPrevious()}"
   th:href="@{/customers(search=${param.search}, page=${customerPage.number - 1})}">Previous</a>
<span th:text="${customerPage.number + 1}"></span> | <span th:text="${customerPage.totalPages}"></span>
<a class="btn btn-primary" th:if="${customerPage.hasNext()}"
   th:href="@{/customers(search=${param.search}, page=${customerPage.number + 1})}">Next</a>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>